{% extends 'todo/base.html' %}

{% block content %}

{{ error }}

<h1>{{ todo.title }}</h1>
<h2>Created on: {{ todo.created|safe }}</h2>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline-primary">Save</button>
</form>

<form method="POST" action={% url 'completetodo' todo.id %}>
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-success">Complete</button>
</form>

<form method="POST" action={% url 'deletetodo' todo.id %}>
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Delete</button>
</form>

{% endblock %}
